body{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(223, 250, 247);
}

nav{
    background-color: rgb(135, 197, 248);
    width: 100%;
    height: 100px;
    margin-top: 0%;
}

footer{
background-color: rgb(135, 197, 248);
color: rgb(9, 9, 9);
width: 100%;
height: 50px;
text-align: center;
padding: 1rem;
font-weight: bold;
}

nav a {
    background-color: blanchedalmond;
    border: solid 3px black;
    border-radius: 10%;
    float: right;
    padding: 0.8%;
    text-decoration: none;
    margin: 1%;
}

nav a:hover{
    background-color: rgb(231, 88, 77);
    color: black;
}

nav img{
    border-radius: 50%;
    float: left;
    height: 65px;
    margin: 20px;
}

main{
    padding-top: 10px;
}

h1{
    text-align: center;
    font-size: 2rem;
}
nav a , p{
    font-size: 1.2rem;
}

.imagens{
    height: 30%;
}

.posicoes{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.esquerda{
    margin-right: 5%;
    margin-left: 1%;
}

.direita{
    margin-left: 5%;
    margin-right: 1%;
}

section{
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 32px;
    /* Animação CSS */
    opacity: 0;
    transform: translateY(400px);
    animation: aparecer 3s linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    width: 100%;
  
}

 @keyframes aparecer {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

button{
    text-align: center;
    margin-left: 47%;
    margin-bottom: 10px;
    border: solid 2px black;
    border-radius: 10%;
    padding: 10px;
    background-color: aquamarine;
    font-weight: bold;
}

button:hover{
    background-color: chocolate;
    color:rgb(223, 250, 247);
}

.vermelho{
    color: red;
    border: solid 3px black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 5rem;
}

.gif{
    display: flex;
    margin-bottom: 20px;
}

.gif img{
    margin-left: 10%;
}
